/**{outline: 1px solid black;}*/

.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  /*background-color: rgba(255, 255, 255, 0.93);*/
  background: url(../img/fondo.jpg) repeat center center fixed;
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  /*width: 50px;*/
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

* {
  box-sizing: border-box;
}

/*body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}*/

a {
  text-decoration: none;
}

body h1 {
  font-size: 33px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  body h1 {
    font-size: 20px;
  }
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 200px;
  height: 100vh;
  /*min-height: 300px;*/
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}

.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}
@media only screen and (max-width: 766px){
  .hero{
    padding-top: 10%;
  }
  .hero h1{
    font-size: 12px;
  }
  .hero h1 span{
    font-size: 20px;
  }

}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
.m

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/*inicia sobre mi*/
.sobre-mi{
  margin-top: 70px;
}
.yo{
  padding-top: 4%;
}
.yo p{
  padding: 12%;
}
.foto img{
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 25% 0%;
}
.foto{
  padding: 10%;
}

@media only screen and (max-width: 766px){
  .sobre-mi p{
    font-size: 12px;
    padding: 1%;
  }
  .foto img{
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 25% 0%;
  }
}


/*inicia habilidades*/
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
  box-shadow: inset 0 0 0 15px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  /*background: #000;*/
  background-image: url(../img/fondo.jpg);
  opacity: 0;
}

.ch-img-1 { 
  background-image: url(../img/HTML_logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 120px 120px;
}

.ch-img-2 { 
  background-image: url(../img/css3-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 125px 125px;
}

.ch-img-3 { 
  background-image: url(../img/js-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 125px;
}
.ch-img-4 { 
  background-image: url(../img/bootstrap.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 180px 180px;
}
.ch-img-5 { 
  background-image: url(../img/jade-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 80px 100px;
}
.ch-img-6 { 
  background-image: url(../img/sass-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 140px;
}
.ch-img-7 { 
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 140px;
}
.ch-img-8 { 
  background-image: url(../img/responsive-design.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 120px 60px;
}
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 15px;
  padding: 30px 0 0 0;
  height: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 15px;
  padding: 33px 0 0 0;
  height: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info h5 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 15px;
  padding: 43px 0 0 0;
  height: 80px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}


.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 15px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}
/*inicio portafolio*/
.ch-item2 {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: default;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  /*box-shadow: inset 0 0 0 15px rgba(15,27,37,0.4);*/
  
  -webkit-transform-origin: 95% 40%;
  -moz-transform-origin: 95% 40%;
  -o-transform-origin: 95% 40%;
  -ms-transform-origin: 95% 40%;
  transform-origin: 95% 40%;
  
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ch-thumb2:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  top: 40%;
  left: 95%;
  margin: -4px 0 0 -4px;
  background: rgb(14,14,14);
  background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
  background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
  box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-porta-1 { 
  background-image: url(../img/porta/agency-jade.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-1 {
  background-size: 220px 220px;
  }
}

.ch-img-porta-2 { 
  background-image: url(../img/porta/cinema.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-2 {
  background-size: 220px 220px;
  }
}

.ch-img-porta-3 { 
  background-image: url(../img/porta/escuela-danza.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-3 {
  background-size: 220px 220px;
  }
}
.ch-img-porta-4 { 
  background-image: url(../img/porta/fashion-jade.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-4 {
  background-size: 220px 220px;
  }
}
.ch-img-porta-5 { 
  background-image: url(../img/porta/flat-responsing.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-5 {
  background-size: 220px 220px;
  }
}
.ch-img-porta-6 { 
  background-image: url(../img/porta/grid-system.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-6 {
  background-size: 220px 220px;
  }
}
.ch-img-porta-7 { 
  background-image: url(../img/porta/primes-exa-grupal.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-7 {
  background-size: 220px 220px;
  }
}
.ch-img-porta-8 { 
  background-image: url(../img/porta/ecomunidad.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-8 {
  background-size: 220px 220px;
  }
}
.ch-img-porta-9 { 
  background-image: url(../img/porta/centro-investigacion.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 350px 220px;
}
@media only screen and (max-width: 766px){
.ch-img-porta-9 {
  background-size: 220px 220px;
  }
}
.ch-info2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
  background-image: url(../img/fondo.jpg);
}
.ch-info2 h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 30px;
  padding: 22px 0 0 0;
  height: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
@media only screen and (max-width: 766px){
  .ch-info2 h3{
    font-size: 14px;
    font-weight: bold;
    margin: 0 15px;
  }
}

.ch-info2 p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}
@media only screen and (max-width: 766px){
  .ch-info2 p{
    padding: 0px;
    margin: 0 15px;
  }
}

.ch-info2 p a {
  display: block;
  color: #333;
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 24px;
  margin: 7px auto 0;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0;
  
  -webkit-transition: 
    -webkit-transform 0.3s ease-in-out 0.2s,
    opacity 0.3s ease-in-out 0.2s,
    background 0.2s linear 0s;
  -moz-transition: 
    -moz-transform 0.3s ease-in-out 0.2s,
    opacity 0.3s ease-in-out 0.2s,
    background 0.2s linear 0s;
  -o-transition: 
    -o-transform 0.3s ease-in-out 0.2s,
    opacity 0.3s ease-in-out 0.2s,
    background 0.2s linear 0s;
  -ms-transition: 
    -ms-transform 0.3s ease-in-out 0.2s,
    opacity 0.3s ease-in-out 0.2s,
    background 0.2s linear 0s;
  transition: 
    transform 0.3s ease-in-out 0.2s,
    opacity 0.3s ease-in-out 0.2s,
    background 0.2s linear 0s;
    
  -webkit-transform: translateX(60px) rotate(90deg);
  -moz-transform: translateX(60px) rotate(90deg);
  -o-transform: translateX(60px) rotate(90deg);
  -ms-transform: translateX(60px) rotate(90deg);
  transform: translateX(60px) rotate(90deg);
    
  -webkit-backface-visibility: hidden;
}

.ch-info2 p a:hover {
  background: rgba(255,255,255,0.5);
}
.ch-item2:hover .ch-thumb2 {
  /*box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);*/
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  transform: rotate(-150deg);
}
.ch-item2:hover .ch-info2 p a{
  opacity: 1;
  -webkit-transform: translateX(0px) rotate(0deg);
  -moz-transform: translateX(0px) rotate(0deg);
  -o-transform: translateX(0px) rotate(0deg);
  -ms-transform: translateX(0px) rotate(0deg);
  transform: translateX(0px) rotate(0deg);
}
/*contacto*/
.contacto h1{
  margin-top: 40px;
}
.contacto ul li{
  display: inline-block;
  background-image: url(../img/fondo.jpg);
  width: 55px;
  height: 55px;
  margin-left: 2%;
}
.follow-icons{
  padding-top: 10%;
  padding-bottom: 20%;
}
.follow-icons i{
  font-size: 40px;
  padding: 5px;
  color: white;
}