/**{outline: 1px solid black;}*/

body{
  margin: 0px;
  padding: 0px;

}

.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Merienda One", cursive;
}
.main_h nav ul li a{
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background: url(../img/fondo.jpg) repeat center center fixed;
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
.menuHover:hover{
  color: #e8f380;
  text-decoration: none;
}
.menuHover:focus{
  color:#e8f380;
  text-decoration: none;
}

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;

}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
    margin-top: 20px;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body h1 {
  font-size: 33px;
  line-height: 1.8;
  text-transform: uppercase;
  /*font-family: "Montserrat", sans-serif;*/
  font-family: "Merienda One", cursive;
}
@media only screen and (max-width: 766px) {
  body h1 {
    font-size: 20px;
  }
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

html,body {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.text {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
svg {
  width: 100%;
  height: inherit;
}
svg text {
  text-anchor: middle;
}
svg #alpha {
  fill: #666666;
}
svg #title {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 800;
}
svg #subtitle {
  letter-spacing: 8px;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}
svg #base {
  fill: black;
  -webkit-mask: url(#mask);
          mask: url(#mask);
}

section.intro {
  background: url(https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2d/bd/cancun.jpg) no-repeat 10% 30%;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 600px;
  /*z-index: 9;*/
}

@media only screen and (max-width: 766px){


}

/*inicia sobre mi*/

.yo{
  padding-top: 8%;
  padding-bottom: 7%;
}
.yo p{
  padding: 7% 10% 10% 10%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 766px){
  .sobre-mi p{
    font-size: 14px;
    padding: 1%;
  }
}

.marco{
  margin-top: 30px;
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  padding: 30px;
}
.swiper-container {
    width: 100%;
    height: 280px;
    border: 10px solid white;
}  
.swiper-container img {
    width: 100%;
    height: 280px;
}


@media only screen and (max-width: 766px){
.marco{
  margin-top: 10px;
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  padding: 20px;
 }
}

/*inicia habilidades*/
.habilidades ul{
  margin-top: 0px;
  margin-bottom: 70px;

}
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  background-image: url(../img/fondo.jpg);
  opacity: 0;
}

.ch-img-1 { 
  background-image: url(../img/logoh.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 120px 120px;
}

.ch-img-2 { 
  background-image: url(../img/css3-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 125px 125px;
}

.ch-img-3 { 
  background-image: url(../img/js-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 125px;
}
.ch-img-4 { 
  background-image: url(../img/bootstrap.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 180px 180px;
}
.ch-img-5 { 
  background-image: url(../img/jade-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 80px 100px;
}
.ch-img-6 { 
  background-image: url(../img/sass-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 140px;
}
.ch-img-7 { 
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 140px;
}
.ch-img-8 { 
  background-image: url(../img/responsive-design.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 120px 60px;
}
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 15px;
  padding: 30px 0 0 0;
  height: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 15px;
  padding: 33px 0 0 0;
  height: 60px;

  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info h5 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 15px;
  padding: 43px 0 0 0;
  height: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}


.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 15px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}



/*inicio portafolio*/
.portafolio ul{
  margin-top: 0px;
}
.ch-item2 {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
}

.ch-info-wrap2, 
.ch-info2{
  position: absolute;
  width: 280px;
  height: 180px;
}

.ch-info-wrap2 {
  top: 20px;
  left: 20px;
  background: #f9f9f9;
  box-shadow: 
    0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info2 > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  
  -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info2 .ch-info-front2 {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.ch-info2 .ch-info-back2 {
  opacity: 0;
  display: block;
  background: url(../img/fondo.jpg);
  pointer-events: none;
  height: 100%;
  text-decoration: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -ms-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-porta-1 { 
  background-image: url(../img/porta/agency-jade.png);
  /*z-index: 12;*/
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}


.ch-img-porta-2 { 
  background-image: url(../img/porta/cinema.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}


.ch-img-porta-3 { 
  background-image: url(../img/porta/escuela-danza.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-4 { 
  background-image: url(../img/porta/fashion-jade.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-5 { 
  background-image: url(../img/porta/flat-responsing.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-6 { 
  background-image: url(../img/porta/grid-system.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-7 { 
  background-image: url(../img/porta/primes-exa-grup.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-8 { 
  background-image: url(../img/porta/ecomunidad.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-9 { 
  background-image: url(../img/porta/centro-investigacion.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-info2 h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
@media only screen and (max-width: 766px){
  .ch-info2 h3{
    font-size: 14px;
    font-weight: bold;
    margin: 0 15px;
  }
}


.ch-info2 p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}
@media only screen and (max-width: 766px){
  .ch-info2 p{
    padding: 0px;
    margin: 0 15px;
  }
}


.ch-info2 p a {
  display: block;
  color: #e7615e;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Roboto Condensed', sans-serif;

}

.ch-info2 p a:hover {
  color: #fff;
}

.ch-item2:hover .ch-info-front2 {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  
  opacity: 0;
} 

.ch-item2:hover .ch-info-back2 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  
  opacity: 1;
  pointer-events: auto;
}
/*contacto*/
.contacto{
   background: url(../img/fondo10.jpg) no-repeat center center fixed;
}
.capa{
background-color: rgba(9, 22, 37, 0.5);

}
.text-white{
  color: white;
}

.contacto h1{
  margin-top: 40px;
  font-weight: bold;

}
.contacto p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.contacto ul li{
  display: inline-block;
  background-image: url(../img/fondo.jpg);
  width: 55px;
  height: 55px;
  margin-left: 2%;
}
.contacto a{
  color: white;
}
.follow-icons{
  padding-top: 10%;
  padding-bottom: 20%;
}
.follow-icons i{
  font-size: 40px;
  padding: 5px;
  color: white;
}
footer{
  background-image: url(../img/fondo.jpg);
}
footer p{
  color: white;
}

@media only screen and (max-width: 766px){
  footer p{
    font-size: 12px;
  }
}