/**{outline: 1px solid black;}*/

body{
  margin: 0px;
  padding: 0px;
}
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background: url(../img/fondo.jpg) repeat center center fixed;
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
.menuHover:hover{
  color: #e8f380;
  text-decoration: none;
}
.menuHover:focus{
  color:#e8f380;
  text-decoration: none;
}
/*.menuHover:visited{
  color:#e8f380;
}
*/

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;

}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
    margin-top: 20px;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body h1 {
  font-size: 33px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  body h1 {
    font-size: 20px;
  }
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: url(../img/fondo1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 200px;
  height: 100vh;
  /*min-height: 300px;*/
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}

.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}
@media only screen and (max-width: 766px){
  .hero{
    padding-top: 10%;
  }
  .hero h1{
    font-size: 12px;
  }
  .hero h1 span{
    font-size: 20px;
  }

}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/*inicia sobre mi*/

.yo{
  padding-top: 5%;
  padding-bottom: 7%;
}
.yo p{
  padding: 10%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
}
.foto img{
  width: 100%;
  height: 100%;
  margin: auto;
}
.foto{
  padding-top: 30px;
}

@media only screen and (max-width: 766px){
  .sobre-mi p{
    font-size: 14px;
    padding: 1%;
  }
  .foto{
    padding-top: 50px;
  }
  .foto img{
  width: 100%;
  height: 100%;
  margin: auto;
  /*border-radius: 25% 0%;*/
  }
}


/*inicia habilidades*/
.habilidades ul{
  margin-top: 0px;
  margin-bottom: 70px;

}
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-190px) rotate3d(1,0,0,90deg);
  background-image: url(../img/fondo.jpg);
  opacity: 0;
}

.ch-img-1 { 
  background-image: url(../img/logoh.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 120px 120px;
}

.ch-img-2 { 
  background-image: url(../img/css3-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 125px 125px;
}

.ch-img-3 { 
  background-image: url(../img/js-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 125px;
}
.ch-img-4 { 
  background-image: url(../img/bootstrap.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 180px 180px;
}
.ch-img-5 { 
  background-image: url(../img/jade-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 80px 100px;
}
.ch-img-6 { 
  background-image: url(../img/sass-logo.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 140px;
}
.ch-img-7 { 
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 140px 140px;
}
.ch-img-8 { 
  background-image: url(../img/responsive-design.png);
  background-repeat: no-repeat;
  background: auto;
  background-size: 120px 60px;
}
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 15px;
  padding: 30px 0 0 0;
  height: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 15px;
  padding: 33px 0 0 0;
  height: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info h5 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 15px;
  padding: 43px 0 0 0;
  height: 80px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}


.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 15px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}



/*inicio portafolio*/
.portafolio ul{
  margin-top: 0px;
}
.ch-item2 {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
}

.ch-info-wrap2, 
.ch-info2{
  position: absolute;
  width: 280px;
  height: 180px;
}

.ch-info-wrap2 {
  top: 20px;
  left: 20px;
  background: #f9f9f9 url(../images/bg.jpg);
  box-shadow: 
    0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info2 > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  
  -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info2 .ch-info-front2 {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.ch-info2 .ch-info-back2 {
  opacity: 0;

  background: url(../img/fondo.jpg);
  pointer-events: none;
  
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -ms-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-porta-1 { 
  background-image: url(../img/porta/agency-jade.png);
  /*z-index: 12;*/
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}


.ch-img-porta-2 { 
  background-image: url(../img/porta/cinema.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}


.ch-img-porta-3 { 
  background-image: url(../img/porta/escuela-danza.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-4 { 
  background-image: url(../img/porta/fashion-jade.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-5 { 
  background-image: url(../img/porta/flat-responsing.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-6 { 
  background-image: url(../img/porta/grid-system.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-7 { 
  background-image: url(../img/porta/primes-exa-grup.png);
  z-index: 12;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-8 { 
  background-image: url(../img/porta/ecomunidad.png);
  z-index: 11;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-img-porta-9 { 
  background-image: url(../img/porta/centro-investigacion.png);
  z-index: 10;
  background-repeat: no-repeat;
  background: auto;
  background-size: 320px 220px;
}

.ch-info2 h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}
@media only screen and (max-width: 766px){
  .ch-info2 h3{
    font-size: 14px;
    font-weight: bold;
    margin: 0 15px;
  }
}


.ch-info2 p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}
@media only screen and (max-width: 766px){
  .ch-info2 p{
    padding: 0px;
    margin: 0 15px;
  }
}


.ch-info2 p a {
  display: block;
  color: #e7615e;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info2 p a:hover {
  color: #fff;
}

.ch-item2:hover .ch-info-front2 {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  
  opacity: 0;
} 

.ch-item2:hover .ch-info-back2 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  
  opacity: 1;
  pointer-events: auto;
}
/*contacto*/
.contacto{
   background: url(../img/fondo7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
/*   height: 100vh;*/
}

.contacto h1{
  margin-top: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;

}
.contacto p{
  font-family: "Montserrat", sans-serif;
  /*font-weight: bold;*/
  font-size: 20px;
}

.contacto ul li{
  display: inline-block;
  background-image: url(../img/fondo.jpg);
  width: 55px;
  height: 55px;
  margin-left: 2%;
}
.contacto a{
  color: black;
}
.follow-icons{
  padding-top: 10%;
  padding-bottom: 20%;
}
.follow-icons i{
  font-size: 40px;
  padding: 5px;
  color: white;
}
footer{
  background-image: url(../img/fondo.jpg);
}
footer p{
  color: white;
}